:root {
  --background: #0a0b10;
  --foreground: #eff0f6;
  --card: #161a26;
  --card-foreground: #eff0f6;
  --popover: #161a26;
  --popover-foreground: #eff0f6;
  --primary: #4571d9;
  --primary-foreground: var(--background);
  --secondary: #2d354d;
  --secondary-foreground: #eff0f6;
  --muted: #222a3d;
  --muted-foreground: #abb4ce;
  --accent: #6c31e3;
  --accent-foreground: var(--background);
  --destructive: #eb5757;
  --destructive-foreground: var(--background);
  --border: #2a3145;
  --input: #2a3145;
  --input-background: #161a26;
  --ring: #6c31e3;
  --radius: 0rem;
  --sidebar: #161a26;
  --sidebar-foreground: #eff0f6;
  --sidebar-primary: #4571d9;
  --sidebar-primary-foreground: var(--background);
  --sidebar-accent: #222a3d;
  --sidebar-accent-foreground: #eff0f6;
  --sidebar-border: #2a3145;
  --sidebar-ring: #6c31e3;
  --switch-background: #cbced4;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: #0a0b10;
  --foreground: #eff0f6;
  --card: #161a26;
  --card-foreground: #eff0f6;
  --popover: #161a26;
  --popover-foreground: #eff0f6;
  --primary: #4571d9;
  --primary-foreground: var(--background);
  --secondary: #2d354d;
  --secondary-foreground: #eff0f6;
  --muted: #222a3d;
  --muted-foreground: #abb4ce;
  --accent: #6c31e3;
  --accent-foreground: var(--background);
  --destructive: #eb5757;
  --destructive-foreground: var(--background);
  --border: #2a3145;
  --input: #2a3145;
  --ring: #6c31e3;
}